.env
.DS_Store
wp-content/cache/
wp-content/debug.log
wp-content/upgrade/
wp-content/uploads/
wp-content/backups/
wp-content/plugins/*
!wp-content/plugins/church-core/
wp-content/themes/*
!wp-content/themes/church-theme/
